body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1920px;
    margin: auto;
}
header{
    grid-column: 1/5;
}
main{
    grid-column: 1/5;
}
footer{
    grid-column: 1/5;
}