.header{
    &__heading{
        padding: 1.25rem 0.5rem 1rem 0.5rem;
        box-shadow: 0px 0px 10px 1px $colorShadow;
        text-align: center;
    }
    &__position{
        background-color: #eaeaea;
        display: flex;
        justify-content: center;
        padding: 1rem;
        color: $colorTextPosition;
        box-shadow: inset 0px 7px 4px -3px $colorShadow;
        &--text{
            font-weight: bold;
            padding-left: 1rem;
        }
    }
    &__description{
        text-align: center;
        background-color: $colorBackground;
        padding: 2rem 0 3rem 0;
        &--heading{
            @include heading($font: 'Roboto', $size: 1.5rem, $font-weight: bold);
            padding: 0.5rem 3rem;
        }
        &--text{
            padding: 0.5rem 0.5rem 2rem 0.5rem;
            color: $colorTextClear;
        }
        &--btn{
            border: none;
            border-radius: 2rem;
            background: linear-gradient(-5deg, #9356dc 4%, #ff79da 100%);
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            padding: 1rem;
        }
    }
}