.hero{
    &__position{
        background-color: #eaeaea;
        display: flex;
        justify-content: center;
        padding: 1rem;
        color: $colorTextPosition;
        box-shadow: inset 0px 7px 4px -3px $colorShadow;
        &--text{
            font-weight: bold;
            padding-left: 1rem;
        }
    }
    &__description{
        text-align: center;
        background-color: $colorBackground;
        padding: 2rem 0 3rem 0;
        &--heading{
            @include heading($font: 'Roboto', $size: 1.5rem, $font-weight: bold);
            padding: 0.5rem 3rem;
        }
        &--text{
            padding: 0.5rem 0.5rem 2rem 0.5rem;
            color: $colorTextClear;
        }
        &--btn{
            border: none;
            border-radius: 2rem;
            background: linear-gradient(-5deg, #9356dc 4%, #ff79da 100%);
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            padding: 1rem;
        }
    }
}

/*--Operation--*/

.operation{
    padding: 3rem 1rem;
    background-color: #FFF;
    &__heading{
        @include heading($font: 'Roboto', $size: 1.5rem, $font-weight: bold);
        background-color: #FFF;
        padding: 1rem 2rem;
    }
    &__steps{
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;
        background-color: $colorBackground;
        border-radius: 1rem;
        margin: 1rem 1rem;
        padding: 1rem 1.5rem;
        &::before{
            padding: 0.25rem;
            width: 1rem;
            color: #FFF;
            background-color: #9356DC;
            text-align: center;
            border-radius: 2rem;
            position: absolute;
            left: 1.5rem;
        }
        &--text , &--icon{
            color: $colorTextClear;
        }
    }
.steps-one::before{
    content: '1';
}
.steps-two::before{
    content: '2';
}
.steps-three::before{
    content: '3';
}
}

/*--Restaurants--*/

.restaurants{
    background-color: $colorBackground;
    &__heading{
        @include heading($font: 'Roboto', $size: 1.5rem, $font-weight: bold);
        padding: 1rem 2rem;
    }
    &__card{
        margin: 1.25rem 1rem;
        border-radius: 1rem;
        box-shadow: 6px 6px 10px $colorShadow;
        &--link{
            text-decoration: none;
        }
        &--container{
            background-color: #fff;
            border-radius: 1rem;
        }
        &--img{
            width: 100%;
            height: 25vh;
            border-radius: 1rem 1rem 0 0;
            object-fit: cover;
            /*object-position: 0px -52px;*/
        }
        &--figcaption{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            color: $colorTextClear;
        }
        &--like{
            display: grid;
        }
        &--brand, &--solid{
            width: 30px;
            height: 30px;
            text-align: center;
            grid-column: 1;
            grid-row: 1;
        }
        &--bold{
            font-weight: bold;
            color: $colorTextDark;
        }
        &--solid{
            background: -webkit-linear-gradient(#9356dc, #ff79da);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: opacity 400ms ease;
            &::before{
                background: -webkit-linear-gradient(#9356dc, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
            }
        }
        &--brand:hover{
            opacity: 0;
        }
        &--solid:hover{
            opacity: 1;
        }
    }

}
.new::before{
    content: "Nouveau";
    background-color: #99e2d0;
    color: #058a69;
    font-weight: bold;
    font-size: 0.75rem;
    position: absolute;
    padding: 0.25rem 0.75rem;
    margin: 1rem 0 0 0;
    right: 2.25rem;
    border-radius: 0.20rem;
}
/*.two{
    object-position: 0px -146px;
}*/