@mixin heading ($font: 'Shrikhand', $color: $colorTextDark, $size: 2.25rem, $font-weight: none){
    font-family: $font, sans-serif;
    color: $color;
    font-size: $size;
    font-weight: $font-weight;
}
@mixin btn ($border: none,
    $border-radius: 2rem,
    $background: linear-gradient(-5deg, #9356dc 4%, #ff79da 100%),
    $color: #fff,
    $font-size: 1rem,
    $font-weight: bold,
    $padding: 1rem
    ){
    border: $border;
    border-radius: $border-radius;
    background: $background;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
    padding: $padding;
}
@mixin mini-cards (
    $background-color: $colorBackground,
    $border-radius: 1rem,
    $margin: 1rem,
    $padding: 1.5rem
    ){
    background-color: $background-color;
    border-radius: $border-radius;
    margin: $margin;
    padding: $padding;
}