$colorPrimary : #9356DC;
$coolorSecondary : #FF79DA;
$colorTertiary: #99E2D0;
$colorTextPosition: #353535;
$colorTextDark: #000;
$colorTextClear: #555454;
$colorShadow: #1D1C1C30;
$colorBackground: #f6f6f6;